<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <button class="btn btn-success btn-vote" type="button">Vote Now</button>
    </div>
</div>
@Html.Partial("~/Views/Home/_CitySelection.cshtml")

@Html.Partial("~/Views/Home/_Register.cshtml")

@Html.Partial("~/Views/Home/_VoteDayton.cshtml")

@Html.Partial("~/Views/Home/_VoteColumbus.cshtml")

@Html.Partial("~/Views/Home/_VoteCincinnati.cshtml")

@Html.Partial("~/Views/Home/_ResultsDayton.cshtml")

@Html.Partial("~/Views/Home/_ResultsCincinnati.cshtml")

@Html.Partial("~/Views/Home/_ResultsColumbus.cshtml")

